<?xml version="1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="common_properties.xacro" />
    <!-- Modelo de Francisco el algoritmo del wall_following esta costruido en base a esto -->
    <!-- <xacro:include filename="mobile_base.xacro" />
    <xacro:include filename="my_robot_gazebo.xacro" /> -->

    <!-- Modelo de Abigail se esta adaptando para que pueda funcionar con el wall_following -->
    <xacro:include filename="mobile_base_abi.xacro" />
    <xacro:include filename="my_robot_abi_gazebo.xacro" />
    
</robot>